In [4]:
import pandas as pd
import numpy as np

### Step 1: Read the csv file as a pandas dataframe

In [5]:
df = pd.DataFrame({'A':[1.0,5.0, 10.0],'B': [2.0,6.0,11.0],'C': [3, np.nan, 12.0],'D':[4.0,8.0, np.nan]})

df

      A     B     C    D
0   1.0   2.0   3.0  4.0
1   5.0   6.0   NaN  8.0
2  10.0  11.0  12.0  NaN

### Step 2: Check the number of missing values for the columns

### Step 3: access the underlying NumPy array via the `values` attribute

### Step 4: Remove rows from df that contain missing values

### Step 5: Remove columns from df that contain missing values

### Step 6: Only drop rows where all columns are NaN

### Step 7: Drop rows that have less than 3 real values

### Step 8: Only drop rows where NaN appear in specific columns (here: 'C')

What Is the Average Height of US Presidents?
Use file president_heights.csv, which is a comma-separated list of labels and values

### Step1:
Read the data with pandas, turn the 'height(cm)' column into a numpy array. Print the array.

### Step2:
- Print the mean of the heights
- Print the standard deviatoin of heights
- Print the minimum height
- Print the maximum height

### Step3:
- Print the 25 percentile
- Print the median of heights
- Print the 75 percentile

### Step4:
- Create a histogram of the heights
- Give a title to the histogram
- Give x and y labels

## Seattle Rainy Days

### Step1:
- Read the data with pandas, turn the 'date' column into date format and set the date as the index of the dataset
- Select the precipitation column for year 2015 and assign it to a new variable
- Create a histogram with title, y and x labels for the precipitation in year 2015. What do you observe?

### Step2:
- construct a mask of all rainy days
- construct a mask of all summer days (June 21st is the 172nd day)
- print the median precip on rainy days in 2015
- print the median precip on summer days in 2015
- print the maximum precip on summer days in 2015
- print the median precip on non-summer rainy days

### Datetime objects

In [30]:
## Converting Strings to Deatetime objects:

In [32]:
## Extracting Components with datetime

In [34]:
## REsampling Time series data

In [40]:
## Monthly average sales

**Q1 Empty Neighborhoods**
We’re given two tables, a users table with demographic information and the neighborhood they live in and a neighborhoods table.

Write a query that returns all neighborhoods that have 0 users.

**Q2** Given a table of bank transactions with columns id, transaction_value, and created_at representing the date and time for each transaction, write a query to get the last transaction for each day.

The output should include the id of the transaction, datetime of the transaction, and the transaction amount. Order the transactions by datetime.

Example:

Input:

bank_transactions table

| Column      | Type |
| ----------- | ----------- |
| id      | INTEGER       |
| created_at   | DATETIME      |
|transaction_value|FLOAT|


Output:

| Column      | Type |
| ----------- | ----------- |
| created_at   | DATETIME      |
|transaction_value|FLOAT|
| id      | INTEGER       |

**Q3** Given three tables, representing customer transactions and customer attributes:

Write a query to get the average order value by gender.

Note: We’re looking at the average order value by users that have ever placed an order. Additionally, please round your answer to two decimal places.

Example:

Input:

transactions table

| Column      | Type |
| ----------- | ----------- |
| id      | INTEGER       |
|user_id|INTEGER|
| created_at   | DATETIME   |
|product_id|INTEGER|
|quantity|INTEGER|


users2 table

| Column      | Type |
| ----------- | ----------- |
| id      | INTEGER       |
|name|VARCHAR|
|sex|VARCHAR|

products table

| Column      | Type |
| ----------- | ----------- |
| id      | INTEGER       |
|name|VARCHAR|
|price|FLOAT|

Output:

| Column      | Type |
| ----------- | ----------- |
|sex|VARCHAR|
|aov|FLOAT|

**Q5: Acceptance Rate**: We’re given two tables. friend_requests holds all the friend requests made and friend_accepts is all of the acceptances.

Write a query to find the overall acceptance rate of friend requests. Note: Round results to 4 decimal places.

Example:

Input:

friend_requests table

| Column      | Type |
| ----------- | ----------- |
| requester_id|INTEGER|
|requested_id|INTEGER|
|created_at|DATETIME|


friend_accepts table

| Column      | Type |
| ----------- | ----------- |
| acceptor_id|INTEGER|
|requester_id|INTEGER|
|created_at|DATETIME|


Output:

| Column      | Type |
| ----------- | ----------- |
| acceptance_rate   | FLOAT     |